.category{
	// page title
	.archive-header{
		text-align:center;
		h1{
			@include bp(md){
				font-size:26px;
			}
		}
	}

	// card container
	.loop-container{
		@include bp(sm){
			@include flex(flex-start,stretch);
			width:100%;
			height:100%;
			flex-wrap:wrap;
		}
	}
	// card
	.excerpt{
		margin-bottom:4rem;
		
		@include bp(md){
			width:calc(50% - 1.5rem);
			background-color:#fff;
			margin-bottom:2.25rem;
			margin-left:.75rem;
			margin-right:.75rem;
		}
		@include bp(lg){
			width:calc(33.33334% - 1.5rem);
		}
	}
	// img
	.featured-image{
		@include bp(md){
			position:static;
			width:100%;
			height:200px;
		}
	}
	// text wrapper
	.excerpt-container{
		@include bp(md){
			margin:0;
			width:100%;
			min-height:initial;
			padding:0 1.5rem;
		}
	}
	.excerpt-meta{
		@include bp(md){
			padding-top:1rem;
		}
	}
	.excerpt-title{
		@include bp(md){
			font-size:1.25rem;
		}
	}
	.excerpt-content{
		@include bp(md){
			padding-bottom:0;
		}
	}
}