/* -----------------------
post cards on homepage or category pages
------------------------- */
// post wrapper
.excerpt{
	opacity:initial;

	@include bp(sm){
		background:inherit;
	}

	@include bp(md){
		// margin-bottom:3rem;
		box-shadow:$box-shadow-postexcerpt;
		transition: $transition-excerpt;
		&:hover{
			box-shadow:$box-shadow-postexcerpt--hover;
		}
	}

	&:hover{
		.featured-image{
			&::before{
				background:rgba(#263238,0);
			}
		}
	}

	// feature image link wrapper
	// .featured-image-link{
	// 	@include bp(md){
	// 		@include absolute(0,0);
	// 		width:100%;
	// 		height:100%;
	// 		display:block;
	// 		z-index:99;
	// 	}
	// }	

	// featured image overlay
	.featured-image{
		&::before{
			@include absolute(0,0);
			content:"";
			display:block;
			width:100%;
			height:100%;
			background:rgba(#263238,.75);
			z-index:1;
			transition:.3s ease;
		}
	}
}

// text wrapper
.excerpt-container{
	@include bp(md){
		min-height:312px;
	}
}
// title
.excerpt-title{
	@include bp(sm){
		line-height:1.2;
	}
}

// pseudo border
.excerpt-header{
	&::after{
		height: 2px;
		width: 33.33334%;
		background: #eee;
		// box-shadow:$box-shadow-excerpt-border;
	}
}
