/* -----------------------
post cards on homepage or category pages
------------------------- */
// post wrapper
.excerpt{
	@include bp(sm){
		background:inherit;
	}

	@include bp(md){
		margin-bottom:3rem;
		box-shadow:$box-shadow-postexcerpt;
		transition: $transition-excerpt;
		&:hover{
			box-shadow:$box-shadow-postexcerpt--hover;
		}
	}

	// post thumbnail for even thumbnails
	// &.even{
	// 	.featured-image{
	// 		right:0;
	// 		left:initial;
	// 	}
	// 	.excerpt-container{
	// 		float:initial;
	// 	}
	// }
}

// text wrapper
.excerpt-container{
	@include bp(md){
		min-height:312px;
	}
}

// pseudo border
.excerpt-header{
	&::after{
		height: 2px;
		width: 33.33334%;
		background: #eee;
		// box-shadow:$box-shadow-excerpt-border;
	}
}
