/* -----------------------
post cards on homepage or category pages
------------------------- */
// post wrapper
.excerpt{
	@include bp(sm){
		background:inherit;
	}

	@include bp(md){
		margin-bottom:3rem;
		box-shadow:$box-shadow-postexcerpt;
		transition: $transition-excerpt;
		&:hover{
			box-shadow:$box-shadow-postexcerpt--hover;
		}
	}

	// post thumbnail for even thumbnails
	&.even{
		.featured-image{
			right:0;
			left:initial;
		}
		.excerpt-container{
			float:initial;
		}
	}
}

// featured image
.excerpt-container{
	@include bp(md){
		min-height:250px;
	}
}

// pseudo border
.excerpt-header{
	&::after{
		height: 3px;
		width: 30%;
		box-shadow:$box-shadow-excerpt-border;
	}
}
