/* -----------------------
global style changes
------------------------- */
body{
	background:$color-body-bg;
}

.main{
	background:inherit;
}

blockquote{
	border-left-color:$color-card-img-overlay;
}