/* -----------------------
top header
------------------------- */

// background
.site-header {
    margin-bottom:1rem;

    @include bp(sm) {
        border-top: initial;
    }
    @include bp(md){
        padding-bottom:0;
    }

    // site description
    .site-description{
    	color:$color-a;

    	@include bp(sm){
    		font-size:1.25rem;
    	}
    }

    &.toggled{
        .site-description{
            display:none;
        }
        a{
            color:#fff !important;
        }
        .toggle-navigation{
            color:#fff;
        }
    }
}

.site-title {
    a {
        color: $color-a;
        font-size:22px;

        @include bp(xxs){
            font-size:5.41vw;
        }

        @include bp(xs){
            font-size: 26px;
        }

		&:hover,
        &:link,
        &:visited,
        &:active,
        &:focus {
            color: $color-a;
        }
    }
}

.menu-primary-items{
	li{
        @include bp(sm){
            vertical-align:top;
        }
		&::after{
			color:$color-a;

			@include bp(md){
				font-size:1rem;
			}
		}
	}
	a{
		color:$color-a!important;

        .site-header.toggled &{
            color:#fff!important;
        }

		@include bp(md){
			font-size:1rem;
		}
	}
}

// hamburger
.toggle-navigation{
	color: $color-a;
}
#toggle-navigation{
	transition: transform 0.3s ease, opacity .3s ease;
}

/* -----------------------
social bar
------------------------- */

// social bar wrapper
.top-navigation {
    background: transparent;

    @include bp(sm) {
        z-index: auto;
    }
    @media (min-width:50em){
    	padding-top:0;
    	margin-top:-1.875rem;
        margin-bottom:0;
    }
    @include bp(md){
        margin-bottom:1.5em;
    }
}

// social bar
.social-media-icons {
    float: none;
    width: 100%;
    text-align: center;
    margin-top:.5rem;

    @include bp(sm) {
        margin-top:0;
        text-align: right;
    }

    a{
    	color:$color-a;
        line-height:1;

		&:hover,
	    &:link,
	    &:visited,
	    &:active,
	    &:focus {
	        color: $color-a;
	    }
    }
}
