@mixin bp($bp){
	// 320
	@if $bp=='xxs'{@media(min-width:20){@content}}
	// 480
	@elseif $bp=='xs'{@media(min-width:30em){@content}}
	// 600
	@elseif $bp=='sm'{@media(min-width:37.5em){@content}}
	// 900
	@elseif $bp=='md'{@media(min-width:56.25em){@content}}
	// 1100
	@elseif $bp=='lg'{@media(min-width:68.75em){@content}}
	
	@elseif $bp=='max-xxs'{@media(max-width:19.99em){@content}}
	@elseif $bp=='max-xs'{@media(max-width:29.99em){@content}}
	@elseif $bp=='max-sm'{@media(max-width:37.49em){@content}}
	@elseif $bp=='max-md'{@media(max-width:56.24em){@content}}
	@elseif $bp=='max-lg'{@media(max-width:68.74em){@content}}
}

@mixin flex($justify:null,$align:null){
	display:flex;
	justify-content:$justify;
	align-items:$align;
}

@mixin clearfix{
	&::after{
		content:"";
		display:table;
		clear:both;
	}
}

@mixin absolute ($top:null, $left:null, $right:null, $bottom:null) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
	@content;
}
