/* -----------------------
posts
------------------------- */
.entry{
	box-shadow: $box-shadow-content;
	
	// featured-image
	.featured-image{
		&::after{
			@include bp(md){
				content:none;
			}
		}
	}

	// entry heading border
	.entry-header{
		&::after{
			height:3px;
		}
	}

	// meta footer
	.entry-meta-bottom.float{
		.entry-categories{
			width:100%;
			position:static;
			padding-left:0;

			p{
				text-align:center;
			}

			a{
				font-weight:700;
				font-size:1rem;
				text-decoration:underline;

				@include bp(lg){
					text-transform:uppercase;
				}
			}
		}
	}
}

