$color-body-bg: linear-gradient(-15deg, #eee, #fff);
$color-p: #000;
$color-a: #000;
$color-card-img-overlay: #263238;

$transition-link: .2s ease;
$transition-excerpt: .3s ease;

$box-shadow-content: 0 15px 25px -15px rgba(0,0,0,.2);
$box-shadow-button: 0 10px 15px -5px rgba(black,.2);
$box-shadow-button--hover: 0 10px 15px -10px rgba(black,.2);
$box-shadow-card: 0 18px 24px -14px rgba($color-card-img-overlay,.2);
$box-shadow-card--hover: 0 18px 24px -14px rgba($color-card-img-overlay,.22);
$box-shadow-input--focus: 0 1px 4px rgba(black,.2);