$color-bg: #f5f5f5;
$color-p: #000;
$color-a: #000;
$transition-link: .2s ease;
$transition-excerpt: .3s ease;
$box-shadow-postexcerpt: 0 1.125rem 1.5rem -.875rem rgba(black,.2);
$box-shadow-postexcerpt--hover: 0 1.125rem 1.5rem -.875rem rgba(black,.22);